.mat-mdc-button-base{
  border-radius: 8px !important;
  color: #2C85BC !important;
  font-size: 1.4rem !important;
  font-weight: 600 !important;
}

.mat-accent{
  color: #01426A !important;
  font-family: Montserrat, "Helvetica Neue", sans-serif !important;
}


.mat-primary{
  color: #E7EFF5 !important;
  font-family: Montserrat, "Helvetica Neue", sans-serif !important;
}
